body {
 margin: 0px;
}

  txt {
    color: rgb(119, 118, 118);
    }

     
      .topbar {  
        background: linear-gradient(to bottom, #706f31 27%, #333436 60%);
        overflow: hidden;
        position: sticky; top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        margin: 0px;
        color: white;
      }

      .topbar a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
      }

      .topbar a:hover {
        background-color: #806a23;
        border-radius: 4px;
      }

      .logo {
        font-size: 20px;
        font-weight: bold;
      }

      .nav-links {
         background: linear-gradient(to bottom, #706f31 27%, #333436 60%);
        display: flex;
        gap: 20px;
      }



 border1 {
    border-style: outset;
    border-width: 2px;
    padding: 5px;
    width: 100%;
    background-color: black;
    text-align: center;
    color:white
    
 } 

 eheadede {
  padding-left: 10px;  
  padding-right: 10px; 
}


@media (min-width: 768px) {
  body1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (min-width: 1024px) {
  body1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

borderline1 {
   border-style: outset;
   padding-left: 50%;
   padding-right: 50%;
   
}